{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    {% if title %}
        <title>Mahal Management - {{ title }}</title>
    {% else %}
        <title>Mahal Management</title>
    {% endif %}
	
    <!-- Bootstrap Core CSS -->

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	    <!-- Custom CSS -->
    <link href="{% static 'css/sb-admin.css' %}" rel="stylesheet">
    <link href="{% static 'css/custom.css' %}" rel="stylesheet">
	<!-- Graph Charts ---->
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
    

    <!-- Morris Charts CSS -->
    <link href="{% static 'css/plugins/morris.css' %}" rel="stylesheet">
	
	<link rel="stylesheet" href="smoothness/jquery-ui.css">
	
	<!------wysiwyg------------------------------>
<link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

<link href="https://fonts.googleapis.com/css2?family=Ramabhadra&display=swap" rel="stylesheet">

	
	<!-- include summernote css/js-->
	<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote.min.css" rel="stylesheet">
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link href='http://fonts.googleapis.com/css?family=Lato:300,400%7CRaleway:100,400,300,500,600,700%7COpen+Sans:400,500,600' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


<style>
a:hover {

   cursor: pointer;

   background-color: yellow;

}

h2,h3,h4 {
	font-family: 'Ramabhadra', sans-serif;
}

h1{
	font-weight:300;
}

</style>
<link href="{% static 'style_loading.css' %}" rel="stylesheet">



</head>

<body class="body">

    <div id="wrapper">
	
	

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'student-home' %}">Mahal Name</a>
            </div>
            <!-- Top Menu Items -->
			
            <!-- Top Menu Items -->

            <ul class="nav navbar-right top-nav">
 	
<li>
	<a href="#" title="Messages"><i class="fa fa-envelope-o"></i><span class="w3-badge w3-red">3</span></a>
</li>

<li>
	<a href="#" title="NOC Issued/Received"><i class="fa fa-address-card"></i>  <span class="w3-badge w3-red">5</span></a>
</li>

<li>
	<a href="#" title="Notifications"><i class="fa fa-flag-checkered"></i> <span class="w3-badge w3-red">3</span></a>
</li>








<li class="dropdown">	
	<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Mahal Name & Mahal ID <b class="caret"></b></a>
	
	<ul class="dropdown-menu">
		
		<li>
			<a href="{% url 'logout' %}" class="dropdown-item"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
		</li>
	</ul>
</li>
            </ul>
<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->

<div class="collapse navbar-collapse navbar-ex1-collapse">

<ul class="nav navbar-nav side-nav">
	<li><a href="#"><i class="fa fa-question-circle" aria-hidden="true"></i> Help <i class="fa fa-phone-square" aria-hidden="true"></i> 8277021524</a>
	</li>
	
	<li><a href="{% url 'student-home' %}"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a></li>

  <li>
    <a href="#" data-toggle="collapse" data-target="#bank"><i class="fa fa-bank "></i></i> School Details <i class="fa fa-fw fa-caret-down"></i></a>
    <ul id="bank" class="collapse">
      <li><a href="{% url 'schools' %}"><i class="fa fa-cog"></i> Schools</a></li>
      <li><a href="{% url 'school-create' %}"><i class="fa fa-fw fa-plus"></i> Add School</a> </li>
    
    </ul>
  </li>	
  
  <li>
    <a href="#" data-toggle="collapse" data-target="#students"><i class="fa fa-fw fa-users "></i></i> Students <i class="fa fa-fw fa-caret-down"></i></a>
    <ul id="students" class="collapse">
      <li><a href="{% url 'student-home' %}"><i class="fa fa-cog"></i> All Students</a></li>
      <li><a href="{% url 'student-create' %}"><i class="fa fa-fw fa-plus"></i> Add Student</a> </li>
    
    </ul>
  </li>	

  <li>
    <a href="#" data-toggle="collapse" data-target="#faculty"><i class="fa fa-fw fa-user-circle "></i></i> Faculty <i class="fa fa-fw fa-caret-down"></i></a>
    <ul id="faculty" class="collapse">
      <li><a href="{% url 'faculty_list' %}"><i class="fa fa-cog"></i> All Faculties</a></li>
      <li><a href="{% url 'add_faculty' %}"><i class="fa fa-fw fa-plus"></i> Add Faculty</a> </li>
    
    </ul>
  </li>	


  <li>
    <a href="#" data-toggle="collapse" data-target="#post"><i class="fa fa-bank "></i></i> All Posts <i class="fa fa-fw fa-caret-down"></i></a>
    <ul id="post" class="collapse">
      <li><a href="{% url 'post-list' %}"><i class="fa fa-cog"></i> All Posts</a></li>
      <li><a href="{% url 'post-create' %}"><i class="fa fa-fw fa-plus"></i> Add Post</a> </li>
    
    </ul>
  </li>	

  
  <li>
    <a href="#" data-toggle="collapse" data-target="#books"><i class="fa fa-fw fa-book "></i></i> Books <i class="fa fa-fw fa-caret-down"></i></a>
    <ul id="books" class="collapse">
      <li><a href="{% url 'book_list' %}"><i class="fa fa-cog"></i> All Books</a></li>
      <li><a href="{% url 'upload_book' %}"><i class="fa fa-fw fa-plus"></i> Add Book</a> </li>
    
    </ul>
  </li>	

  <li>
    <a href="#" data-toggle="collapse" data-target="#expense"><i class="fa fa-fw fa-book "></i></i> Expenses <i class="fa fa-fw fa-caret-down"></i></a>
    <ul id="expense" class="collapse">
      <li><a href="{% url 'expense-list' %}"><i class="fa fa-cog"></i> All Expenses</a></li>
      <li><a href="{% url 'expense-create' %}"><i class="fa fa-fw fa-plus"></i> Add Expense</a> </li>
      <li><a href="{% url 'expense-lists' %}"><i class="fa fa-fw fa-plus"></i> Total Expense</a> </li>
    
    </ul>
  </li>	


</ul>




</div>
</nav>
<br><br><br>








		
		<div class="container-fluid">

	
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
          {% block content %}{% endblock %}
      
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->






    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="{% url 'logout' %}">Logout</a>
        </div>
      </div>
    </div>
  </div> 

  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

  <!-- Page level plugins -->
  <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>

  <!-- Page level custom scripts -->
  <script src="{% static 'js/demo/chart-area-demo.js' %}"></script>
  <script src="{% static 'js/demo/chart-pie-demo.js' %}"></script>

  

</body>

</html>
