{% extends 'students/base.html' %}
{% block content %}
    <h1>Book List</h1>
    <a href="{% url 'upload_book' %}" class="btn btn-primary">Upload Book</a>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Cover</th>
                <th>Title</th>
                <th>Author</th>
                <th>Download</th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
            <tr>
                <td>
                {% if book.cover %}
                    <img src="{{ book.cover.url }}" style="width:100px;">
                {% endif %}
                </td>
                <td>{{ book.title }}</td>
                <td>{{ book.author }}</td>
                <td>
                {% if book.pdf %}
                    <a href="{{ book.pdf.url }}" class="btn btn-success btn-sm" target="blank">Download</a>
                {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
{% endblock content %}