{% extends 'students/base.html' %}
{% block content %}
    <h1>Faculty Name: {{ faculty.fac_fname|upper }} {{ faculty.fac_lname|upper }}</h1>
    {% if faculty.image %}
    <img src="{{ faculty.image.url }}" style="width: 100px;"><br><br>
    {% endif %}
    <p>Faculty ID : {{ faculty.faculty_id }}</p>
    <p>Department : {{ faculty.department }}</p>
    <p>Address : {{ faculty.address }}</p>
    <p>Mobile : {{ faculty.mobile_no }}</p>
   
    
    <div>
        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'faculty_update' faculty.id %}" >Update</a>
        <a class="btn btn-danger btn-sm mt-1 mb-1" href="#" >Delete</a>
    </div>
   


{% endblock content %}