 {% extends "students/base.html" %}
 {% block content %}
 <div class="row">
    
<div class="col-md-12" style="padding:30px;">
     
<h1>All Students</h1>
<a class="btn btn-primary btn-sm mt-1 mb-1" href="{% url 'student-create' %}" >Add Student</a><br><br>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>SL</th>
            <th>First Name</th>
            <th>Father Name</th>
            <th>Present Class<br>Admission No</th>
            <th>Mobile</th>
            <th>Address</th>
            <th>Pdf</th>
            <th></th>
            <th></th>
        </tr>
    </thead>


    {% for object in object_list %}

    <tr>
        <td>{{forloop.counter}}</td>
        <td><a href="{% url 'student-detail' object.id %}">{{ object.firstname }}</a></td>
        <td>{{ object.fathername }}</td>
        <td>{{ object.present_class }}<br>{{ object.admission_no }}</td>
        <td>{{ object.mobile_no }}</td>
        <td>{{ object.address }}</td>
        {% if object.pdf %}
        <td><a href="{{ object.pdf.url }}">Download</a></td>
        {% else %}
        <td><span class="text-muted">No Pdf </span></td>
        {% endif %} {% if object.author == user %}
        <td>
            <div>
                <a class="btn btn-primary btn-sm mt-1 mb-1" href="{% url 'student-update' object.id %}">Update</a>
                <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'student-delete' object.id %}">Delete</a>
            </div>
        </td>
        {% endif %}


    </tr>

    {% endfor %}
</table>


<!--------------------------------- Start of Pagination starts here ----------------------------------------------->
{% if is_paginated %}

{% if page_obj.has_previous %}
  <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
  <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
{% endif %}

{% for num in page_obj.paginator.page_range %}
  {% if page_obj.number == num %}
    <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
  {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
    <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
  {% endif %}
{% endfor %}

{% if page_obj.has_next %}
  <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
  <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
{% endif %}

{% endif %}
<!---------------------------------End of Pagination starts here ----------------------------------------------->

{% endblock content %}

    </div>

