<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6" style="padding: 30px;">

        {% extends 'students/base.html' %}
        {% load crispy_forms_tags %}
        {% block content %}
            <h1>Upload Books</h1>
            <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{form|crispy}}
            <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        {% endblock content %}

</div>
<div class="col-md-3"></div>
</div>