{% extends "students/base.html" %}
{% block content %}
<div class="row">
   
<div class="col-md-12" style="padding:30px;">
    
<h1>All Expenses</h1>
<h3>Total: {{ expensesum.amount__sum }}</h3>
<a class="btn btn-primary btn-sm mt-1 mb-1" href="{% url 'expense-create' %}" >Add Expense</a><br><br>
<table class="table table-bordered">
   <thead>
       <tr>
           <th>SL</th>
           <th>Expense Title</th>
           <th>Expense Amount</th>
           <th>Updated on</th>
           <th></th>
       </tr>
   </thead>


   {% for expense in expenses %}

   <tr>
       <td>{{forloop.counter}}</td>
       <td><a href="{% url 'expense-detail' expense.id %}">{{ expense.title }}</a></td>
       <td>&#x20B9; {{ expense.amount }}</td>
       <td>{{ expense.date_posted }} by {{ expense.author }}</td>
       {% if expense.author == user %}
       <td>
           <div>
            <a class="btn btn-primary btn-sm mt-1 mb-1" href="{% url 'expense-update' expense.id %}">Update</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'expense-delete' expense.id %}">Delete</a>
           </div>
       </td>
       {% endif %}


   </tr>

   {% endfor %}
</table>


<!--------------------------------- Start of Pagination for function based views starts here ----------------------------------------------->
{% if expenses.has_other_pages %}
  <ul class="pagination">
    {% if expenses.has_previous %}
      <li><a href="?page={{ expenses.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in expenses.paginator.page_range %}
      {% if expenses.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if expenses.has_next %}
      <li><a href="?page={{ expenses.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
<!---------------------------------End of Pagination starts here ----------------------------------------------->

{% endblock content %}

   </div>

