{% extends "students/base.html" %}
{% block content %}
    <article class="media content-section">
       <!--  <img class="rounded-circle article-img" src="{{ student.author.profile.image.url }}"> -->
        <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="#">{{ expense.author }}</a>
            <small class="text-muted">{{ expense.date_posted|date:"F d, Y" }}</small>
            {% if expense.author == user %}
            <div>
                <a class="btn btn-primary btn-sm mt-1 mb-1" href="{% url 'expense-update' expense.id %}">Update</a>
                <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'expense-delete' expense.id %}">Delete</a>
                <a class="btn btn-default btn-sm mt-1 mb-1" href="{% url 'expense-list' %}" >Go Back</a> 
            </div>
            {% endif %}
        </div>
        <h2 class="article-title">{{ expense.title }}</h2>
        <p>Date: {{ expense.expense_date }} <br> Expense Amount : &#x20B9;{{ expense.amount }}</p>
       <small>Updated on : {{expense.date_posted}} by : {{expense.author}}</small>
        
        </div>
    </article>
{% endblock content %}